.cart-products-main-container{
    display: flex;
    flex-direction: column;
    position: -webkit-sticky;
    position: sticky;
    /* position: relative; */
    top: 0;
    width: 100%;
    z-index: 22222;
    /* padding-bottom: 70px; */
    position: relative;
    /* background-color: orange; */
}

.cart-products-heading{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 10px 15px 10px;
}



.cart-products-heading h3{
    font-size: 15px;
    font-weight: 700;
    line-height: 38px;
    color: var(--text-color);
}

.protect-all-products-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 8px 15px;
    background-color: transparent;
    color: #2F7A97;
    border: 1px solid #2F7A97;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}

.protect-all-products-button.protect-all-products-button-true{
    background-color: #2F7A97;
    color: #fff;
}


.cart-items{
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    height: 240px;
    /* height: 372px; */
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
    gap: 10px;
    transition: width 0.5s ease;
}

/* Custom scrollbar for WebKit browsers */
.cart-items::-webkit-scrollbar {
    display: none;
}

/* Mobile cart container Styling */
.mobile-cart-items{
    display: none;
    grid-template-columns: auto;
    width: 100%;
    /* height: 240px; */
    height: 372px;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
    gap: 10px;
    transition: width 0.5s ease;
}

/* Custom scrollbar for WebKit browsers */
.mobile-cart-items::-webkit-scrollbar {
    display: none;
}

/* Cart Summery */
.mobile-view-cart-order-summery{
    display: none;
    flex-direction: column;
    width: 100%;
    padding: 10px 0;
    gap: 10px;
    border: 1px solid var(--border-color);
    padding: 10px 10px;
}

.mobile-view-head{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 10px;
}

.mobile-view-head h3{
    font-size: 15px;
    line-height: 18px;
    font-weight: 600;
    color: var(--text-color);
}

.mobile-view-head span{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2px;
}

.mobile-view-head span p{
    font-size: 10px;
    line-height: 15px;
    font-weight: 500;
    color: var(--text-color);
}

.mobile-view-head span p:nth-child(2){
    font-weight: 600;
    font-size: 10px;
    line-height: 15px;
}

.mobile-view-sub-total-and-protection{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
    border-bottom: 1px solid var(--border-color);
}

.mobile-sub-total-protection{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.mobile-sub-total-protection p{
    color: var(--text-color);
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
}

.mobile-sub-total-protection p:nth-child(2){
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: var(--text-color);
}

.mobile-tax-section{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid var(--border-color);
}

.mobile-tax-section p{
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    color: var(--text-color);
}

.mobile-tax-section p:nth-child(2){
    font-size: 15px;
    line-height: 22px;
    font-weight: 600;
}

/* Delivery Options */
.mobile-delivery-options{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    padding: 10px;
    /* border-bottom: 1px solid var(--border-color); */
}

.mobile-delivery-option-heading{
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    color: var(--text-color);
}

.mobile-single-delivery-option{
    display: flex;
    width: 100%;
    gap: 20px;
    align-items: start;
    justify-content: start;
}

.mobile-single-delivery-option img{
    width: 38px;
    height: 26px;
    object-fit: contain;
}

.mobile-single-delivery-details{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.mobile-single-delivery-details h3{
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    color: var(--text-color);
}

.mobile-single-delivery-details p{
    font-size: 10px;
    line-height: 15px;
    font-weight: 400;
    color: var(--text-color);
}



/* Mobile view checkout fixed  */
.mobile-view-total-and-checkout-fixed{
    display: none;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    padding: 10px 20px;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 00;
    
    border-top: 2px solid var(--border-color);
}

.mobile-view-total-and-checkout{
    display: none;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    padding: 10px 20px;
    background-color: #fff;
    /* border-top: 2px solid var(--border-color); */
    z-index: 0;
}

.mobile-view-total{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.mobile-view-checkout-btn{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 38px;
    border: none;
    outline: none;
    background-color: var(--active-nav-item-color);
    color: #fff;
    border-radius: 4px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    
}

.cart-item-details{
    display: flex;
    flex-direction: column;
}

.cart-item-details-heading{
    display: flex;
    width: 100%;
    padding: 15px 10px 5px 10px;
}

.cart-item-details-heading h3{
    font-size: 15px;
    font-weight: 700;
    color: var(--text-color);
}

.price-details-div{
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
    width: 100%;
    padding: 10px 30px;
    gap: 10px;
}

.price-details{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    /* gap: 15px; */
    border-bottom: 1px solid var(--border-color);
    padding: 5px 0;

}

.price-details h3{
    font-size: 12px;
    font-weight: 600;
    color: var(--text-color);
}

.price-details p{
    font-size: 15px;
    font-weight: 600;
    color: var(--text-color);
}

.continue-btn{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 15px 15px 30px 15px;
}

.continue-btn button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 42px;
    background-color: #2F7A97;
    border-radius: 8px;
    border: 2px solid #2F7A97;
    font-size: 15px;
    font-weight: 600;
    color: var(--text-white);
    cursor: pointer;
}

/* Desktop Component Styling */
.desktop-cart-item-details{
    display: none;
    width: 100%;
    /* align-items: center; */
    justify-content: space-between;
    /* padding: 10px 90px 50px 90px; */
    gap: 10px;
    margin-top: 20px;
}



.desktop-cart-item-details .decrease-width{
    width: 70% !important;
}

.desktop-price-details-div{
    display: flex;
    /* background-color: orange; */
    width: 80%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: start;
    gap: 15px;
    transition: width 0.5s ease, gap 0.5s ease;
}



.dektop-price-details{
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #2F7A97;
    height: 50px;
    padding: 0 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.desktop-price-title{
    font-size: 15px;
    font-weight: 400;
    color: var(--text-color);
}

.desktop-price-total{
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color);
}

.desktop-continue-btn-div{
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: end;
}

.desktop-continue-btn-div button{
    width: 190px;
    height: 50px;
    background-color: #2F7A97;
    border: 1px solid #2F7A97;
    border-radius: 10px;
    color: var(--text-white);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 10px;
}

.desktop-continue-btn-div.hide-continue-btn{
    display: none;
}

.desktop-continue-btn-div a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 190px;
    height: 50px;
    background-color: #2F7A97;
    border: 1px solid #2F7A97;
    border-radius: 10px;
    color: var(--text-white);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 10px;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #FFF;
    overflow-x: hidden;
    transition: 0.5s;
  }
  
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}


/* Media Queries */

/* Hide and show componennts according to screen */
@media only screen and (min-width: 481px){
    .desktop-cart-item-details{
        display: flex;
    }
    .cart-item-details-heading {
        display: none;
    }
    .price-details-div {
        display: none;
    }
    .continue-btn{
        display: none;
    }

    .cart-products-heading h3 {
        font-size: 25px;
        font-weight: 700;
        line-height: 38px;
        color: var(--text-color);
    }

    .cart-items{
        width: 100%;
        /* height: 100%; */
        height: max-content;
        border-top: none;
        border-bottom: none;
        padding: 10px 5px;
        gap: 10px;
        transition: width 0.5s ease;
    }
}

/* Large screens desktop and latop */
@media only screen and (min-width: 1025px) {
    .cart-items.low-width{
        width: 65%;
        padding: 10px 50px;
    }

    .cart-products-heading {
        display: flex;
        align-items: flex-start;
        /* padding: 0 105px 15px 105px; */
    }
    /* .cart-items{
        padding: 10px 105px;
    } */

    .desktop-continue-btn-div{
        position: relative;
    }

    .desktop-continue-btn-div button{
        position: absolute;
        top: 0;
    }

    .desktop-cart-item-details.desktop-cart-item-div-padding-decrease {
        padding: 20px 90px 50px 50px
    }
    .desktop-price-details-div.desktop-price-div-decrease{
        width: 65%;
    }
}

/* Tablates screens */
@media only screen and (min-width: 781px) and (max-width: 1024px) {
    .cart-products-heading {
        display: flex;
        align-items: flex-start;
        padding: 0 50px 15px 50px;
    }

    .cart-items{
        padding: 10px 50px;
    }

    .desktop-cart-item-details {
        padding: 20px 50px;
    }

    .desktop-continue-btn-div{
        position: relative;
    }

    .desktop-continue-btn-div button{
        position: absolute;
        top: 0;
    }
}

/* Ipods Screens */
@media only screen and (min-width: 481px) and (max-width: 780px) {
    .desktop-cart-item-details{
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .desktop-price-details-div{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        transition: width 0.5s ease;
    }

    .desktop-continue-btn-div {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
    }
}

@media only screen and (max-width: 480px){
    .cart-items{
        display: none;
    }
    .cart-products-main-container{
        padding-bottom: 0;
    }
    .cart-item-details{
        display: none;
    }
    .mobile-view-cart-order-summery{
        display: flex;
    }
    .mobile-view-total-and-checkout-fixed{
        display: flex;
    }
    .mobile-view-total-and-checkout{
        display: flex;
    }
    .mobile-cart-items{
        display: grid;
    }

}

