
/* Cart Side Section */
.cart-side-main-section {
    position: fixed;
    top: 0;
    right: 0;
    /* width: 0; */
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: start;
    z-index: 9999999999999;
    /* background-color: #fff; */
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    border-left: 1px solid #D7D7D7;
}
  
.cart-side-main-section.show-side-cart {
    /* width: 100%; */
    visibility: visible;
    opacity: 1;
    /* background-color: rgba(0, 0, 0, 0.5); */
}

.cart-section-close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    z-index: 99999;
}

.cart-section-close-btn img{
    height: 100%;
    width: auto;
    object-fit: contain;
}

.cart-side-section-containt-div{
    display: flex;
    flex-direction: column;
    width: 430px;
    height: 100%;
    padding: 10px;
    gap: 15px;
    right: -430px;
    top: 0;
    position: absolute;
    background-color: #fff;
    transition: all 0.5s ease;
}

.cart-side-section-containt-div.show-side-cart-containt{
    right: 0;
}


.cart-section-heading-div{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #D7D7D7;
    padding: 15px 0;
    gap: 10px;
}

.cart-side-section-cart-bag-div{
    display: flex;
    width: auto;
    height: auto;
    position: relative;
    /* margin-top: -10px; */
}

.cart-side-section-cart-bag-div img{
    width: auto;
    height: 42px;
    object-fit: contain;

}

.cart-side-panel-item-count{
    position: absolute;
    top: 25%;
    left: 35%;
    font-size: 15px;
    line-height: 18px;
    font-weight: 600;
    color: var(--text-color);
}



.cart-section-heading-div p{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: var(--text-color);
}

.cart-section-products{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 435px;
    gap: 10px;
    padding: 5px;
    overflow-x: hidden;
    overflow-y: auto;
}

.cart-section-products::-webkit-scrollbar{
    display: none;
}

.cart-side-section-buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.cart-section-view-cart-and-checkout-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.cart-side-section-view-cart{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #C61B1A;
    height: 50px;
    border-radius: 3px;
    color: #C61B1A;
    font-size: 15px;
    line-height: 23px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}

.cart-side-section-checkout{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    background-color: #595959;
    border: 1px solid #595959;
    height: 50px;
    border-radius: 3px;
    color: var(--text-white);
    font-size: 15px;
    line-height: 23px;
    font-weight: 600;
    cursor: pointer;
}

.cart-side-section-continue-shopping{
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    border: 1px solid #C61B1A;
    background-color: #C61B1A;
    color: var(--text-white);
    font-size: 15px;
    line-height: 23px;
    font-weight: 600;
}

/* Quick View Section */
.quick-view-section{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.5) !important;
    opacity: 0;
    transition: all 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: start;
    z-index: 99999;
    background-color: #fff;
    border-left: 1px solid #D7D7D7;
}

.quick-view-section.show-quick-view-section{
    visibility: visible;
    opacity: 1;
}

@media only screen and (max-width: 480px){
    .cart-side-section-containt-div{
        width: 100%;
    }
}