/* .best-seller-product-card-main-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 1px 1px 8px 0px #00000026;
    padding: 15px;
    cursor: pointer;
    text-decoration: none;
}

.heart-icon-div{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: end;
    padding: 0;
}

.product-main-image-div{
    display: flex;
    width: 100%;
    height: 100%;
}

.product-main-image-div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.best-seller-rating-div{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    gap: 2px;
    margin-bottom: 15px;
}

.best-seller-rating-div img{
    width: 14px;
    height: 14px;
}

.best-seller-rating-div p{
    font-size: 13px;
    font-weight: 300;
    line-height: 18px;
}

.product-name-div{
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 5px;
}
.product-name-div h3{
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    color: var(--text-color);
}



.best-seller-price-div{
    display: flex;
    gap: 10px;
    align-items: center;
}

.best-sellerdel-price{
    font-size: 15px;
    line-height: 22px;
    font-weight: 600;
    color: var(--text-color);
    text-decoration: line-through;
}

.best-seller-new-price{
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
    color: var(--active-nav-item-color);
} */

/* .category-besst-seller-main-container{
    display: flex;
    width: 100%;
    gap: 20px;
    padding: var(--global-padding);
}

.category-best-seller-cards-section{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 20px;
}

.category-best-seller-menu{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.category-best-seller-menu h3{
    font-size: 25px;
    line-height: 37px;
    font-weight: 600;
}

.category-best-seller-menu-items{
    display: flex;
    align-items: center;
    gap: 30px;
}

.category-best-seller-menu-items p{
    color: var(--text-color);
    text-decoration: none;
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    border-bottom: 3px solid #fff;
    cursor: pointer;
}

.category-best-seller-menu-items p.active{
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
    border-bottom: 3px solid var(--active-nav-item-color);
} */

/* Best Seller Product Cards */
/* .category-products-main-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: auto;
    gap: 20px;
} */

.category-product-card{
    /* box-shadow: 1px 1px 4px 0px #00000026; */
    z-index: 999999;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #fff;
    border-radius: 6px;
    position: relative;
    /* border: 1px solid var(--border-color); */
    box-shadow: 0px 1px 3px 0px #0000001A;
}

.show-on-mobile{
    display: none;
}

.category-product-card:hover{
    transform: scale(1.02);
}


.category-product-image{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.category-product-image img{
    width: 75%;
    height: 100%;
    object-fit: contain;
}

.category-containt-section{
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: 100%;
}

.category-product-rating-and-name{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.category-product-rating-section{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
}

.category-product-rating-stars{
    display: flex;
}

.category-product-rating-stars img{
    width: auto;
    height: 14px;
    object-fit: contain;
}

.category-product-rating-stars p{
    color: #50BED3;
}

.category-product-rating-section p{
    font-size: 12px;
    line-height: 18px;
    font-weight: 300;
}

.category-product-name{
    display: flex;
    width: 100%;
}

.category-product-name h3{
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    height: 36px;
    margin-bottom: 15px;
    color: var(--text-color);
}

.category-product-price-and-heart{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.category-product-price{
    display: flex;
    align-items: center;
    gap: 10px;
}

.category-product-price del{
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
}

.category-product-price p{
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
    color: var(--active-nav-item-color);
}

.category-product-price-and-heart img{
    width: auto;
    height: 22px;
    object-fit: contain;
}



/* Best Seller Banner Section */
.category-best-seller-banners-section{
    display: flex;
    flex-direction: column;
    width: 380px;
    height: auto;
}

.category-best-seller-banners-section img{
    width: auto;
    height: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 480px){
    .show-on-mobile{
        display: flex;
        width: 20px;
        height: 20px;
        object-fit: contain;
        position: absolute;
        right: 20px;
        top: 10px;
    }
    .hide-on-mobile{
        display: none;
    }

    .category-product-rating-section p{
        font-size: 10px;
        line-height: 15px;
        font-weight: 300;
    }
    
    .category-product-name h3{
        font-size: 15px;
        line-height: 18px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .category-product-price del{
        font-size: 12px;
        line-height: 14px;
        font-weight: 600;
    }
    
    .category-product-price p{
        font-size: 15px;
        line-height: 18px;
        font-weight: 600;
        color: var(--active-nav-item-color);
    }
}



.bestSellerCardShimmer{
    z-index: 999999;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #fff;
    border-radius: 6px;
    position: relative;
    box-shadow: 0px 1px 3px 0px #0000001A;
    height: 250px;
}

.bestSellerCardImgShimmer{
    height: 130px;
    width: 100%;
    background-color: #f0f0f0;
}
.bestSellerCardNameShimmer{
    width: 100%;
    height: 20px;
    border-radius: 10px;
    background-color: #f0f0f0;
}

.bestSellerCardPriceShimmer{
    width: 50%;
    height: 20px;
    border-radius: 10px;
    background-color: #f0f0f0;
}


.bestSellerCardImgShimmer::before{
    content: "";
    position: absolute;
    top: 0;
    left: -150%; /* Start off-screen */
    height: 100%;
    width: 150%; /* Width of the shimmer gradient */
    background: linear-gradient(90deg, rgba(240, 240, 240, 0) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(240, 240, 240, 0) 100%);
    animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(100%);
    }
}
